@model Categories 

@{
    ViewData["Title"] = "Create Category";
}

<h1>Create Category</h1>
<h5>Create the different categories by which the bets can be organized.</h5>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<form asp-controller="Categories" asp-action="Create">
    <div class="col-md-6 mx-auto">
        <div class="col mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}