@model IEnumerable<Categories>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<h5>The Categories allow you to organize and create filters of the bets created in the system.</h5>

<a asp-action="Create" class="btn btn-primary">Add New</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Name</td>
                <td>
                    <a class="btn btn-secondary">Edit</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>